<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--主配置-->
    <dubbo:application name="demo-dubbo"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!--消费-->
    <dubbo:reference id="demoService" interface="me.zuoyun.api.DemoService" check="false" timeout="5000"/>


</beans>
